{% extends "index.html" %}
{% block title %}Add Resources{% endblock %}

{% block content %}
<h2>Add Resources</h2>
<form method="POST" action="/resources/add">
    <label>Resource Name</label><br>
    <input type="text" name="resource_name" required><br><br>

    <label>Resource Type </label><br>
    <select name="resource_type" required>
        <option value="">Select Resource Type</option>
        <option value="Room">Room</option>
        <option value="Instructor">Instructor</option>
        <option value="Equipment">Equipment</option>
    </select><br><br>

    <label>Quantity</label><br>
    <input type="number" name="resource_qty" min="1" required><br><br>


    <button type="submit">Save</button>
</form>
{% endblock %}
